
  .container{
    background-color: whitesmoke;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  .Login {
   
    text-align: center;
  }

  .Login form {
    margin: 100px auto;
    max-width: 320px;
  }

  .login-box{
      background-color: whitesmoke;
      box-shadow:0 0 0.75, #cccccc;
      
      position : relative;
      box-sizing: inherit;

  }